<div class="home-section light-section">
  <div id="about" class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-8 small-push-4 columns">
          <h3 class="serif all-caps">A little something</h3>
          <h1>About me.</h1>
        </div>
      </div>

      <div class="row">
        <div class="small-3 small-push-3 columns">
          <div class="separator"></div>
        </div>
        <div class="small-6 small-push-3 columns end">
          <p>Rails developer building websites for a living by day, and designing them for fun by night.</p>

          <p>Rails developer building websites for a living by day, and designing them for fun by night. Rails developer building websites for a living by day, and designing them for fun by night.</p>

          <p>Rails developer building websites for a living by day, and designing them for fun by night. Rails developer building websites for a living by day, and designing them for fun by night.</p>
        </div>
      </div>
    </div>
  </div>
</div>
