<div class="home-section light-section">
  <div id="contact" class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-10 small-push-2 columns">
          <h3 class="serif all-caps">Say</h3>
          <h1>Hello!</h1>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <div class="separator"></div>
        </div>
        <div class="small-8 columns end">
          <p>
            I'm currently looking for a full-stack developer position in NYC after spending 7 years in one of the best startup there is.
          </p>
          <p>
            My next company will be a place where I can call
            my coworkers my friends. I value working in a
            relaxed atmosphere, as well as having the opportunity to try new technologies from time to time to keep things fresh. A nice bonus would be the ability to influence product in some way.
          </p>

          <p>If you like what you see, don't hesitate to get in touch!</p>
        </div>
      </div>

      <div class="row">
        <div class="small-10 small-push-2 columns">
          <a href="mailto:niuage@gmail.com" target="_blank" id="email-address" class="serif">niuage@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
