<div class="home-section light-section">
  <div id="contact" class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-8 small-push-4 columns">
          <h3 class="serif all-caps">Say</h3>
          <h1>Hello!</h1>
        </div>
      </div>

      <div class="row">
        <div class="small-3 small-push-3 columns">
          <div class="separator"></div>
        </div>
        <div class="small-6 small-push-3 columns end">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
