<header>
  <div class="row">
    <div class="medium-12 columns">
      <a href="#" id="logo">
        <%= image_tag "logo.svg" %>
      </a>

      <!-- <h1>Code &amp; Design.</h1> -->
    </div>
  </div>
  <%= image_tag "landscape4.svg", id: "landscape" %>
</header>
