<header id="header">
  <%= image_tag "purple_fox.svg", id: "purple-fox" %>
  <div class="row">
    <div class="medium-12 columns text-center">
      <%= link_to root_url do %>
        <%= image_tag "logo_v2.svg", id: "logo" %>
      <% end %>
    </div>
  </div>
</header>

<section id="content" class="clearfix">
  <!-- <div class="row"> -->
    <div class="large-4 columns">
      <div class="project" id="frog">
        <p class="category">
          WEBSITE
        </p>

        <section class="about">
          <h2>HackerPond</h2>

          <p>Complete redesign of the old Devpost homepage, with a pond theme.</p>

          <figure class="text-center">
            <%= image_tag "projects/frog.png" %>
          </figure>
        </section>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="project">
        <p class="category">
          WEBSITE
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="project">
        <p class="category">
          WEBSITE
        </p>
      </div>
    </div>

  <!-- </div> -->
</section>
