html
  background: $gold
  margin: 1rem
  border: 1px solid $gold
  height: auto

body
  height: 100%

figure
  margin: 0

@mixin pseudo-elements
  content: ""
  position: absolute
  top: 0
  left: 0

@mixin light_top_nav
  a
    color: #666

    strong
      color: black

  #mini-logo
    background-image: image-url("a.svg")
    border-color: black

    &:hover
      border-color: $light-purple

#mini-logo
  border: 3px solid $gold
  background: image-url("a-white.svg") center center no-repeat
  background-size: 28px 28px
  height: 50px
  width: 50px

  &:hover
    border-color: $light-purple

.home-section
  h1
    color: white
    font-weight: bold

  h3
    color: $gold
    font-size: 1.4rem

  padding-top: 3em
  padding-bottom: 6em

  @media #{$medium}
    padding-top: 8em
    padding-bottom: 12em

  h1
    margin: 0 0 1rem
    font-size: 5rem

  h3
    margin-bottom: 0

  p
    color: $font-color
    font-size: 1.2rem
    // color: #afa58f

  &.light-section
    background: $light-body-bg

.header-intro
  background: image-url("knight7.png") right 80% no-repeat
  background-size: 480px 450px

#about
  padding-top: 7.1rem
  background: image-url("me.png") left top no-repeat
  // background-size: 480px 450px

#content

#content-wrapper
  position: relative
  z-index: 100

@mixin project_header_image($size)
  @media #{$medium-up}
    img
      width: $size
      margin-left: -$size / 2
      left: 50%

#project-header-image
  width: 100%

  img
    display: block
    position: relative
    left: 0
    width: 90%
    left: 5%
    z-index: 10

  #stripe
    width: 100%
    position: absolute
    bottom: 0
    height: 0
    z-index: 9

  @include project_header_image(600px)

.cat-element
  display: inline-block
  text-transform: none
  line-height: 27px
  text-align: center
  margin-right: 6px
  border-top: 3px solid transparent
  font-weight: bold
  font-size: 0.8125rem

  &.Co
    border-color: $purple

  &.De
    border-color: $pink
  &.Pe
    border-color: $green
  &.Wo
    border-color: $yellow
  &.Fe
    border-color: $blue

#categories
  position: relative
  z-index: 4
  padding: 1em $column-gutter
  border-bottom: 1px solid $project-separator-color

  .columns
    z-index: 3

  a
    color: lighten($body-font-color, 20%)
    text-transform: uppercase
    font-size: 0.8125em
    font-weight: bold

#grid
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1
  padding: 0 $column-gutter

  .row
    height: 100%

  .columns
    height: 100%
    border-left: 1px solid #ececec

    &:first-child
      // border: 0
    &:last-child
      border-right: 1px solid #ececec

    // &:nth-child(2), &:nth-child(3)
    //   background: #f5f5f5

#intro, #brief, #categories
  position: relative
  padding: $column-gutter
  z-index: 4
  background: #fdfdfd

  h3
    margin-top: $paragraph-margin-bottom
    margin-bottom: 1em

  .huge-bg
    display: none

  // &:hover
  //   .huge-bg
  //     display: block

figure
  padding: 3em 0

.light-text
  color: #777

.uppercase
  text-transform: uppercase

.content-middle
  display: table
  width: 100%
  height: 100%

.content-cell
  display: table-cell
  vertical-align: middle
  height: 100%

.serif
  font-family: Georgia, serif

.all-caps
  text-transform: uppercase

.separator
  width: 100%
  height: 3px
  background: $gold
  margin-top: 0.5rem

#work
  margin-bottom: 2rem
