html
  background: $light-purple

body
  height: auto
  // box-shadow: 0 0 10px rgba(0,0,0,0.5)

  @media #{$medium}
    margin: 1em

figure
  margin: 0

@mixin pseudo-elements
  content: ""
  position: absolute
  top: 0
  left: 0

@mixin light_top_nav
  a
    color: #666

    strong
      color: black

  #mini-logo
    background-image: image-url("a.svg")
    border-color: black

    &:hover
      border-color: $light-purple

#top-nav
  padding: 2em 3em
  margin-bottom: 3em

  @media #{$medium}
    margin-bottom: 6em

  li
    float: left

  a
    display: block
    line-height: (50px / 2)
    margin-right: 6em
    font-size: 0.875em
    color: #aaa
    @include transition(all 0.3s)
    position: relative

    strong
      display: block
      text-transform: uppercase
      color: white
      font-weight: bold

  a:not(#mini-logo)
    padding: 3px 0

    &:before
      content: ""
      position: absolute
      top: 10px
      left: -16px
      height: 11px
      width: 9px
      border: 3px solid $light-purple
      border-width: 3px 0px
      // @include transform(rotate(45deg))
      @include transition(border-color 0.2s)

    &:hover
      &:before
        border-top-color: $pink
        border-right-color: $green
        border-bottom-color: $light-purple

  li:nth-child(2) a:not(#mini-logo):before
    border-width: 3px 0 0 0
    // border-color: $pink

  li:nth-child(3) a:not(#mini-logo):before
    // border-width: 3px 3px 0 0
    border-width: 3px 0 0 0

  li:nth-child(4) a:not(#mini-logo):before
    // border-width: 3px 3px 3px 0
    border-width: 3px 0 0 0
    // border-color: $green

  #mini-logo
    line-height: 56px


#mini-logo
  border: 3px solid white
  background: image-url("a-white.svg") center center no-repeat
  background-size: 28px 28px
  height: 50px
  width: 50px

  &:hover
    border-color: $light-purple

#header
  background: black
  // image-url("ae-dark.svg") center bottom no-repeat
  background-size: cover
  position: relative
  padding-bottom: 16em
  z-index: 2

  @media #{$medium}
    padding-bottom: 26em

  #logo
    width: 250px

#content
  // padding: $column-gutter
  background: #f9f9f9

#content-wrapper
  position: relative
  z-index: 100

@mixin project_header_image($size)
  @media #{$small}
    img
      width: $size
      margin-left: -$size / 2
      left: 50%

#project-header-image
  position: absolute
  bottom: 0
  width: 100%

  img
    display: block
    position: relative
    left: 0
    width: 90%
    left: 5%
    max-height: 16em
    z-index: 10

    @media #{$medium}
      max-height: 24em

  #stripe
    width: 100%
    position: absolute
    bottom: 0
    height: 0
    z-index: 9

  @include project_header_image(600px)

.cat-element
  display: inline-block
  text-transform: none
  line-height: 27px
  text-align: center
  margin-right: 6px
  border-top: 3px solid transparent
  font-weight: bold
  font-size: 0.8125rem

  &.Co
    border-color: $purple

  &.De
    border-color: $pink
  &.Pe
    border-color: $green
  &.Wo
    border-color: $yellow
  &.Fe
    border-color: $blue

#categories
  position: relative
  z-index: 4
  padding: 1em $column-gutter
  border-bottom: 1px solid $project-separator-color

  .columns
    z-index: 3

  a
    color: lighten($body-font-color, 20%)
    text-transform: uppercase
    font-size: 0.8125em
    font-weight: bold

#grid
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1
  padding: 0 $column-gutter

  .row
    height: 100%

  .columns
    height: 100%
    border-left: 1px solid #ececec

    &:first-child
      // border: 0
    &:last-child
      border-right: 1px solid #ececec

    // &:nth-child(2), &:nth-child(3)
    //   background: #f5f5f5

#intro, #brief, #categories
  position: relative
  padding: $column-gutter
  z-index: 4
  background: #fdfdfd

  h3
    margin-top: $paragraph-margin-bottom
    margin-bottom: 1em

  .huge-bg
    display: none

  // &:hover
  //   .huge-bg
  //     display: block

figure
  padding: 3em 0

.light-text
  color: #777

.uppercase
  text-transform: uppercase
